.page-title-box {
  background-image: url(../../../public/assets/images/page-title.png);
  background-size: cover;
  background-color: #4a4949;
  position: relative;
  padding-top: 50px;
  padding-bottom: 80px;
  background-position: center;
}
/* fjfgjj */
.shape {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  pointer-events: none;
}
.shape > svg {
  width: 100%;
  height: auto;
}
.shape > svg path {
  fill: #fff !important;
}
.breadcrumb .breadcrumb-item a {
  color: #fff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.breadcrumb .breadcrumb-item::before {
  content: "\f0142";
  font-size: 14px;
  color: #fff;
  font-family: "Material Design Icons";
  padding-left: 8px;
}
.breadcrumb .breadcrumb-item:first-child::before {
  content: "";
}
.breadcrumb-item.active {
  color: #e2e5e8;
}
.sidebar-page-container {
  position: relative;
  padding: 50px 0px 50px;
}
form#loginform {
  max-width: 600px;
  margin: auto;
  box-shadow: 0 0 35px rgb(0 0 0 / 5%);
  padding: 35px 40px 20px;
}
.form-group {
  margin-bottom: 10px;
}
.form-group label {
  color: #000;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
}
.form-group input.form-control {
  height: 50px;
}
.login-remember * {
  display: flex;
  align-items: center;
  margin: 0px 0px;
  gap: 10px;
}
.login-remember {
  display: flex;
  gap: 30px;
  align-items: center;
}
.login-submit {
  margin-top: 20px;
}
input#inputGroupFile01 {
  display: flex;
  align-items: center;
  height: auto;
  padding: 10px;
}
.browse_sec {
  padding: 50px 0;
}
.list-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
  border-radius: 0.3rem;
  background: #ffffff;
  padding: 10px;
}
.item-flex {
  display: flex;
  /* gap: 20px; */
  align-items: center;
}
.item-flex:first-child {
  order: 1;
}
.arch-post-count {
  flex: auto;
  color: var(--secondary);
  font-size: 14px;
}
.sorter-arch .arch-post-count {
  border-right: 0;
  border-left: 0;
  padding: 0;
  font-size: 18px;
  color: #000;
  font-weight: 600;
}
span.shortby {
  margin-right: 18px;
  color: #999999;
}
.item-flex .dropdown {
  background-color: #f4f4f4;
  width: 200px;
  border-radius: 5px;
  padding: 7px 15px;
  color: #000;
}
.item-flex .dropdown a {
  color: #000;
}
.item-flex .dropdown-toggle::after {
  right: 15px;
  position: absolute;
  top: 18px;
}
.toggle-sidebar-close,
#sidebar-filter {
  margin-left: 15px;
  font-weight: 700;
  font-size: 15px;
  display: none;
  color: #fff;
  background-color: #000;
  padding: 6px 10px;
  border-radius: 4px;
}
#sidebar-filter i {
  margin-right: 2px;
}
.list-inline {
  margin-bottom: 20px;
}
.item-flex .list-inline-item a {
  background-color: #ededed;
  border-radius: 5px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  display: block;
  color: #000;
}
.item-flex .list-inline-item a.active {
  background-color: #ec385a;
  color: #fff;
}
.item-flex .list-inline-item a span {
  display: none;
}

.job_btn {
  display: flex;
  align-items: center;
  gap: 15px;
}
.job-grid-box .favorite-icon {
  position: absolute;
  right: 20px;
  top: 20px;
}
.favorite-icon a {
  display: flex;
  width: 30px;
  height: 30px;
  font-size: 15px;
  line-height: normal;
  text-align: center;
  border: 1px solid #eff0f2;
  border-radius: 6px;
  color: rgba(173, 181, 189, 0.55);
  transition: all 0.5s ease;
  align-items: center;
  justify-content: center;
}
.job-grid-box.active .favorite-icon a {
  background-color: #da3746;
  color: #fff;
  border-color: #da3746;
}
